.root {
  padding-top: 100px;
}

.input {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  box-shadow: 0 1px 1px grey;
  background: #fff;
  z-index: 1;
  
  input {
    width: 100%;
    border: none;
    padding: 1em;
    font-size: 1em;
    height: 40px;
  }
}

.staff {
  text-align: center;
  margin: 2em;
}
