.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.25em 0.5em;

  &:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px firebrick;
  }
}

.checkbox {
  display: inline-block;
  margin-left: 1em;
  cursor: pointer;
}