.root {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(#e2e2e2, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 2px solid #e1e1e1;
    box-sizing: border-box;
    margin-right: 1em;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .name {
    color: #696767;
    font-size: 0.9em;
    font-weight: 500;
  }
  